/* HomePage.css */

.home-container {
  display: flex;
  height: 100vh;
}

.column {
  flex: 1;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: start;
}

.user-column {
  background-color: #f0f2f5;
  border-right: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  width:65%;
  cursor: pointer;
  font-size: 16px;
  border-radius: 100px;
}

.deleteButton:hover {
  background-color: darkred;
}


.logoutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-top: 238%;
  height: 55px;
  background-color: crimson;
}

.logoutButton:hover {
  background-color: darkred;
}

.message-column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.message-area {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  overflow-y: auto;
  width: 95%;
}

.message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  max-width: 70%;
  border: #0056b3 1px solid;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.message p {
  font-size: large;
}

.chat-text {
  color: black;
  font-size: 16px;
  border-radius: 4px;

}

.input-area {
  display: flex;
  width: 80vw;
  padding: 10px;
  background-color: #f0f2f5;
  border-top: 1px solid #ccc;
}


button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darkred;
}

.divisor {
  background-color: grey;
  width: 100%;
  height: 1px;
  margin-bottom: 40px;
  
}

.settings {
  border-radius: 100px;
  width: 70%  ;
}

.opcoes_consent {
  padding: 5px 5px 5px 10px;
  margin: 10px 0px ;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display:  flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
}

.texto_consent {
  width: 80%;
  position: relative;
  font-weight: 500;
  font-variant: small-caps;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.check_consent {
  width: 20%;
  position: relative;
}


.modalBox {
  margin: 0px;
  padding: 0px;
  display: flexbox;
  width: auto;
  height: auto;
  border-radius: 10px;
  border-style: solid;
  align-items: center;
  align-content: flex-start;
  
}

.modal-title {
  display: flex;
  width: auto;
  height: auto;
  align-content: center;
  justify-content:center;
  align-items: center;
  
}

.modal_container {
  display: flexbox;
  padding: 0px;
  margin: 0px;
  align-content: flex-start;
}

.options_modal_footer {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  color: #000000;
  width: auto;
}
.botoes_footer_modal {
  width: auto;
  padding: 6px 5px;
  margin: 0px;
  display: flex;
  margin-left: -0%;
  background-color: #0056b3;
  height: auto;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
}

.options_modal_footer button {
  margin: 5px 10px;
  font-size: 18px;
}