/* HomePage.css */

.home-container {
  display: flex;
  height: 100vh;
}

.column {
  flex: 1;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: start;
}

.user-column {
  background-color: #f0f2f5;
  border-right: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  width:65%;
  cursor: pointer;
  font-size: 16px;
  border-radius: 100px;
}

.deleteButton:hover {
  background-color: darkred;
}


.logoutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-top: 238%;
  height: 55px;
  background-color: crimson;
}

.logoutButton:hover {
  background-color: darkred;
}

.message-column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.message-area {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  overflow-y: auto;
  width: 95%;
}

.message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  max-width: 70%;
  border: #0056b3 1px solid;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.message p {
  font-size: large;
}

.chat-text {
  color: black;
  font-size: 16px;
  border-radius: 4px;

}

.input-area {
  display: flex;
  width: 80vw;
  padding: 10px;
  background-color: #f0f2f5;
  border-top: 1px solid #ccc;
}


button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darkred;
}

